fastapi
uvicorn
apscheduler
psycopg2-binary
beautifulsoup4
python-dotenv
pydantic
lxml
playwright
asyncio

httpx
pytest
pytest-asyncio
aiohttp
crawl4ai
datetime
typing
python-dateutil
kafka-python
capsolver


